
<div class="container">

    <div class="row">

        <div class="col-md-12">
            <ul class="nav nav-default" style="margin-left: 330px; font-size:18px">
                <li style="border-right:1px solid #000000"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li style="border-right:1px solid #000000"><a href="@Url.Action("News", "Contact")">Tin tức</a></li>
                <li style="border-right:1px solid #000000"><a href="/Products/Category?CategoryID=1">Sản Phẩm</a></li>
                <li style="border-right:1px solid #000000"><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>

            </ul>


        </div>
    </div>
    
    </div>
