
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/Areas/admin/Content/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/metisMenu.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/Areas/admin/Content/css/typography.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/default-css.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/styles.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Areas/admin/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form role="form" method="post" action="~/Admin/Home/LoginAdmin">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                    <div class="login-form-head">
                        <h4>Sign In</h4>
                        <p>Hello there, Sign in and start managing your Admin Template</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputText">Username</label>
                            <input type="text" class="form-control" name="Username" aria-describedby="basic-addon1" required>

                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i> </span>
                            <input type="password" class="form-control" name="Password" aria-describedby="basic-addon1" required>

                        </div>

                        <div class="submit-btn-area">
                            <button type="submit" value="Login">Submit <i class="ti-arrow-right"></i></button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
    <!-- jquery latest version -->
    <script src="~/Areas/admin/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Areas/admin/Content/js/popper.min.js"></script>
    <script src="~/Areas/admin/Content/js/bootstrap.min.js"></script>
    <script src="~/Areas/admin/Content/js/owl.carousel.min.js"></script>
    <script src="~/Areas/admin/Content/js/metisMenu.min.js"></script>
    <script src="~/Areas/admin/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/admin/Content/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="~/Areas/admin/Content/js/plugins.js"></script>
    <script src="~/Areas/admin/Content/js/scripts.js"></script>
</body>

</html>